#movieInfo h1 {
	width: calc(100% - 80px);
    display: inline-block;
    margin-bottom: 40px;
}
#movieInfo a, #movieInfo button {
	vertical-align: top;
}
#movieInfo .row>div {
	margin-bottom: 30px;
}
#movieInfo p {
	margin-bottom: 5px;
}
#movieInfo h2 {
	margin: 0 0 20px 0;
}
#movieInfo .card {
	background: #ddd;
}

@media (max-width: 575px) { 
	#movieInfo h1 {
		width: 100%;
	    margin-bottom: 20px;
	}

	#movieInfo button {
		margin-bottom: 30px;
    	width: 100%;
	}
}